<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Accidents Stats</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/accidents.css') }}">
</head>

<body>
    <header class="top_text"><a href="/">F1 Accidents Stats</a></header>
    <div class="grid">
        <div class="box">
            <div class="styling">
                <embed type="image/svg+xml" src={{typeOfAccidents|safe}} style='max-width:80%' />
            </div>
        </div>

        <div class="box">
            <div class="styling">
                <embed type="image/svg+xml" src={{driversInAccidents|safe}} style='max-width:80%' />
            </div>
        </div>
        <div class="box">
            <div class="styling">
                <embed type="image/svg+xml" src={{constructorsOfAccidents|safe}} style='max-width:80%' />
            </div>
        </div>
        <div class="box">
            <div class="info styling">
                <p> Made possible with <a href="https://ergast.com/mrd/">Ergast API (Data)</a>, <a
                        href="https://www.pygal.org/en/stable/">Pygal (Graphs)</a><br>
                    Made By <a href="https://www.ortieez.com">Adam Lipert</a></b></p>
            </div>
        </div>
    </div>
</body>

</html>