@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  background-color: #1f1f1f !important;
  color: white !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.grid .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 500px;
}

.box .styling {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #363636;
  border-radius: 15px;
  width: 85%;
  height: 475px;
}

.top_text {
  margin: 25px 0 10px 25px;
}

.info {
  color: #ff9100;
}

a {
  font-size: larger;
  color: white;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #6d6d6d;
}
